{% extends 'core/base.html' %}

{% block title %}Chat Rooms |{% endblock %}

{% block content %}
    <div class="mt-5 text-center">
        <h1 class="text-3xl" lg:text-6xl>Chat Rooms</h1>
    </div>

    <div class = "container">
            <div class="row">
                {% for room in rooms %}
                <div class="col-6 lg-col-4" style="margin: 10px">
                        <div class="card" style="background-color: grey; text-decoration: aliceblue; width: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.name }}</h5>
                                <p class="card-text">{{ room.description }}</p>
                            </div>
                            <a href="{% url 'room' room.slug %}" class="btn btn-primary">Join</a>
                        </div>
                </div>
                {% endfor %} 
            </div> 
    </div>

{% endblock %}